<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.like.common.sample">

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:appComponentFactory="任意字符"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:appComponentFactory">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".banner.BannerActivity" />
        <activity android:name=".letterlistview.SidebarViewActivity" />
        <activity android:name=".checkradio.CheckAndRadioActivity" />
        <activity android:name=".drag.DragViewTestActivity" />
        <activity android:name=".pictureselector.PictureSelectorActivity" />
        <activity android:name=".image.ImageActivity" />
        <activity android:name=".coroutines.CoroutinesActivity" />
        <activity android:name=".update.UpdateActivity" />
        <activity android:name=".flexbox.FlexBoxActivity" />
        <activity android:name=".notification.NotificationActivity" />
        <activity android:name=".serializable.SerializableActivity" />
        <activity android:name=".dialog.DialogActivity" />
        <activity
            android:name=".activitytest.TestActivity"
            android:launchMode="singleTop" />
        <activity android:name=".activitytest.TestActivity1" />
        <activity
            android:name=".activitytest.TestActivity2"
            android:theme="@style/Base.Theme.AppCompat.Dialog" />
        <activity
            android:name=".activitytest.TestActivity3"
            android:theme="@style/translucent" />
    </application>

</manifest>