<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.like.common">

    <uses-permission android:name="android.permission.READ_PHONE_NUMBERS" />
    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!--高德地图定位权限开始-->
    <!--用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!--用于访问GPS定位-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!--用于获取运营商信息，用于支持提供运营商信息相关的接口-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--用于访问wifi网络信息，wifi信息会用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!--用于获取wifi的获取权限，wifi信息会用来进行网络定位-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!--用于访问网络，网络定位需要上网-->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--用于读取手机当前的状态-->
    <uses-permission
        android:name="android.permission.READ_PHONE_STATE"
        android:maxSdkVersion="29" />
    <!--用于写入缓存数据到扩展存储卡-->
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="29" />
    <!--用于申请调用A-GPS模块-->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <!--如果设置了target >= 28 如果需要启动后台定位则必须声明这个权限-->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <!--如果您的应用需要后台定位权限，且有可能运行在Android Q设备上,并且设置了target>28，必须增加这个权限声明-->
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <!--高德地图定位权限完毕-->

    <!--application标签中的三个配置是为了解决videocache库在android9.0以上无法缓存的bug-->
    <!--参考https://blog.csdn.net/qq_25017839/article/details/89948220-->
    <!--以 Android 10（API 级别 29）或更高版本为目标平台时暂时停用分区存储 android:requestLegacyExternalStorage="true"-->
    <application
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:targetSandboxVersion="1"
        android:usesCleartextTraffic="true">
        <!--文件共享-->
        <!--authorities URI 授权 前面为包名，后面为fileprovider固定值，使用包名便于区分-->
        <!--exported="false" 是否支持其它应用调用当前组件 ，要求为flase-->
        <!--@xml/filepaths 在res目录的xml目录下定义的filepaths.xml文件，名字可以自定义-->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <!--拍照、获取apk文件进行安装时需要-->
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

        <activity
            android:name=".view.dragview.activity.DragPhotoViewActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@style/translucent" />
        <activity
            android:name=".view.dragview.activity.DragVideoViewActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@style/translucent" />

        <!--高德地图开始-->
        <service android:name="com.amap.api.location.APSService" />
        <!--高德地图完毕-->

    </application>
</manifest>
