<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.like.common">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <!-- Android6.0 蓝牙扫描需要-->
    <uses-permission-sdk-23 android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <application>
        <!--authorities 路径 前面为包名，后面为fileprovider固定值，使用包名便于区分-->
        <!--exported="false" 是否支持其它应用调用当前组件 ，要求为flase-->
        <!--@xml/filepaths 在res目录下定义的filepaths.xml文件，名字可以自定义-->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <!--拍照、获取apk文件进行安装时需要-->
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

        <activity
            android:name=".view.dragview.view.DragViewActivity"
            android:theme="@style/translucent" />

        <receiver android:name=".view.update.shower.NotificationControllerBroadcastReceiver">
            <intent-filter>
                <action android:name="action" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
